extends layout

block content
  header
    h1
      | 《#{ game.name }》
      if session.user && session.user.id == game.UserId
        .visible-xs-block
        small
          a(href="/edit/game/" + game.id) 编辑

  main
    section.game
      div.cover
        img.game-cover(src=game.cover_url, alt='游戏封面')

      h2 游戏介绍
      div.description!=marked(game.description)

      h2 相关信息
      p 发售日期：#{moment(game.release_date).format('l')}
      p 产品代码：#{game.release_id}
      div.clearfix

    h2 攻略 (#{game.Guides.length})

    if game.Guides.length == 0
      p
        | 还没有攻略呢，
        a(href="/new/guide/" + game.id) 添加一个
        | ？
    else
      table.table.table-striped
        tr
          th 制作
          th 攻略名称
          th 建立日期
        each guide in game.Guides
          tr
            td= guide.User.name
            td
              a(href='/guide/' + guide.url)
                = guide.name
            td=moment(guide.create_at).format('l')
      a.btn.btn-primary(href="/new/guide/" + game.id)
        | 制作攻略

block title
    = "游戏《" + game.name + "》"