extends layout

block content
  - function active_chapter(c) { return c.active ? 'active' : '' };
  header
    h1 #{guide.name}
      .visible-xs-block
      small 攻略作者：
        a(href="/user/" + guide.guide_user)
          =guide.guide_user
      .visible-xs-block
      small
        span 游戏：
        a(href='/' + guide.game_url)
          =guide.game_title

  main#guide.guide.render(
    data-chapter=chapter.url,
    render="guide"
  )
    section.col-xs-12.col-md-3
      h2 章节列表
      ul.list-group.chapters
        each chap in chapters
          a.chapter.list-group-item(
            class=active_chapter(chap),
            href='/' + guide.game_url + '/' + guide.url + '/' + chap.url,
            data-url=chap.url,
            data-id=chap.chapter_id
          ) #{chap.title}

    section#chapter.col-xs-12.col-md-9
      h2.title= chapter.title
      div.content!=marked(chapter.content)

block title
  = guide.name + " - 游戏攻略"

block require
  // script(src="/javascripts/guide.js")