extends layout

block content
  - function active_chapter(c) { return c.active ? 'active' : '' };
  header
    h1 #{guide.name}
      .visible-xs-block
      small 攻略作者：
        a(href="/user/" + guide.User.name)
          =guide.User.name
      .visible-xs-block
      small
        span 游戏：
        a(href='/game/' + guide.Game.url)
          =guide.Game.name
      if session.user && session.user.id == guide.UserId
        .visible-xs-block
        small
          a(href="/edit/guide/" + guide.id) 编辑


  main#guide.guide.render(
    data-chapter=chapter.url,
    data-author=guide.UserId,
    data-guide=guide.name,
    render="guide"
  )
    section.col-xs-12.col-md-3
      h2 章节列表
      ul.list-group.chapters
        each chap in chapters
          if chap.dataValues.is_header == "1"
            .list-group-item.list-group-item-success.chapter-header
              h4= chap.name
          else
            a.chapter.list-group-item(
              class=active_chapter(chap),
              href='/guide/' + guide.url + '/' + chap.url,
              data-url=chap.url,
              data-id=chap.id
            ) #{chap.name}
      p.update-time
        small
          | 攻略最近更新于
          time= moment(guide.updatedAt).format('YYYY-MM-DD HH:mm:ss')

    section#chapter.col-xs-12.col-md-9
      h2.title= chapter.name.trim()
      div.content!=marked(chapter.content)
      if appConfig.ds_short_name
        div.comments-container
          h2.header-comments 评论
          noscript
            p 启用 JavaScript 后即可参与评论。
            p
              | 评论系统由
              a(href="http://duoshuo.com/",rel="nofollow external") 多说
              | 强力驱动！

block title
  = chapter.name + " - " + guide.name + " - 梦姬攻略网"
