extends layout

block title
  = "用户 " + user.name + " - 梦姬攻略网"

block content
  h1= user.name

  section
    .avatar
      img.user-avatar(src=user.avatar)

    p 于#{ moment(user.createdAt).format('ll') }加入本站。
    p 共撰写了 #{ user.Guides.length } 篇攻略，可喜可贺~

  .clearfix

  h2 #{user.name} 的攻略
  section
    if user.Guides.length > 0
      table.table.table-striped.table-hover
        tbody
          tr
            th 攻略名
            th 最新章节
            th 更新时间
            th 简短描述

          each guide in user.Guides
            tr
              td
                a(href=url_guide(guide.url))
                  = guide.name
                |  (
                a(href=url_game(guide.Game.url))
                  = guide.Game.name
                | )
              td
                if guide.Chapters.length
                  - var chap = guide.Chapters[0];
                  a(href=url_guide(guide.url, chap.url))= chap.name
                else
                  | 还没有章节
              td= moment(guide.updatedAt).fromNow()
              td= excerpt(guide.short_desc)
    else
      .alert.alert-info
        | #{user.name} 很懒，什么都没写呢~